.map {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}
.map__small {
  height: 20vh;
  width: 100%;
  margin-top: 10px;
}
.map-container {
  height: 100%;
  width: 100%;
  position: relative;
}
.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.mapboxgl-ctrl,
.mapboxgl-ctrl-attrib {
  display: none;
}

.mapboxgl-canvas {
  cursor: crosshair;
}

.marker {
  background-image: url("../../images/marker.png");
  background-position: center;
  background-size: cover;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}

.mapboxgl-popup-close-button {
  width: 100px;
  height: 30px;
}

.map__saveLocation {
  margin-top: 10px;
  height: 30px;
  background-color: #0a49ff;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

.map__saveLocation:hover {
  color: #0a49ff;
  background-color: #fff;
}
