.app {
  width: 100vw;
  height: 100vh;
  background-color: #f7f7f7;
}

.blue__important {
  color: #0a49ff;
  font-weight: 600;
}

.underlined {
  position: relative;
}
.underlined::after {
  content: "";
  left: 0;
  bottom: -8px;
  position: absolute;
  border: solid 5px #0a49ff;
  border-color: transparent transparent #0a49ff transparent;
  border-radius: 0 0 240px 240p;
  width: 100%;
}
