.search__container {
  padding: 10px 5%;
  display: flex;
  flex-direction: column;
}
.search__header {
  margin: 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search__result {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.search__result img {
  cursor: pointer;
}
.search__map img {
  width: 100%;
  height: 80%;
}
